  <div class="content">

    <div class="video">
      <div class="video-content">
        <video src="/images/video.mp4" autoplay muted loop style="padding: 8px; border-radius: 50px; width: 100%;"></video>
      </div>
    </div>
    
    <div class="content-name">
      <h3>Категории товаров</h3>
    </div>

    <div class="categ">

     {{#each categories}}
     <a href="/device/{{this.id}}"> 
        <div  class="one-category">
          <div id="{{this.id}}" class="category-name">{{this.name}}</div>
          <div><img id="{{this.id}}" class="img" src="{{this.img}}"></div>
        </div>
      </a>
      {{/each}}

    </div>
    
  </div>


