
<h5>Пожалуйста, скопируйте и сохраните следующий url - адрес, он понадобится для отслеживания статуса заказа.</h5>

<h6>http://localhost:3000/order/{{uniqUrl}}</h6>


<h5>{{device.name}}</h5>
<h5>{{device.info}}</h5>
<h5>{{device.price}}</h5>
<h6>Текущий статус заказа: {{myStatus.name}}</h6>

