
<div class="content">
    {{#if type}}
    <h3>{{type.name}}</h3>
    {{/if}}

    <div class="categories">

    {{#each devices}}
      <div id="card" class="card" style="width: 18rem;">
        <img src="{{this.img}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{this.name}}</h5>
          <p class="card-text">{{this.info}}</p>
          <p class="card-text">Цена: {{this.price}} руб.</p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Заказать!</button>
          {{> winalert}}
        </div>
      </div>
    {{/each}}

    </div>
    
</div>
